[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
timm = "*"
opencv-python = "*"
matplotlib = "*"
imageio = "*"
imageio-ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.11"
